.body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    border: 1px solid rgb(0, 0, 0);
}

.logo {
    padding-top: 20px;
}

.motto {
    text-align: center;
    padding-right: 10px;
    font-size: 1.6em;
    color: #000; 
    font-style: italic;
}

header {
    background-color: rgb(57, 57, 236);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.BrandName {
    margin-right: auto;
    font-size: 1.4em;
}
header li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

header a {
    text-decoration: none;
    color: white;
    transition: all 0.7s ease 0s;
}

header a:hover {
    color: black;
    background-color: rgb(210, 210, 210);
}

.main {
    display: flex;
    background-color: rgb(210, 210, 210);  
}

.welcome_text {
    padding: 20px;
    align-self: center;
}

.footer {
    background-color: rgb(57, 57, 236);
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}